<h1>Create Todo</h1>
<form role="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input ng-model="todo.title" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea ng-model="todo.content" class="form-control" rows="6"></textarea>
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input ng-model="todo.url" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="todoList">List</label>
        <select ng-model="todo.todoList" class="form-control">
            <option value="">Choose list</option>
            <option ng-repeat="todoList in todoLists" value="{{todoList.id}}">{{todoList.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tags">Tags</label>
        <select ng-model="todo.tags" ng-options="tag.name for tag in tags track by tag.id" class="form-control" multiple>
        </select>
    </div>
    <button type="submit" ng-click="saveTodo(todo)" class="btn btn-small btn-primary">Create</button>
</form>

